<div data-role="view" data-title="Details" data-model="app.homeView.homeViewModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.usrl_product" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>
    <p data-bind="text: currentItem.usrl_description"></p>
    <!-- START_CUSTOM_CODE_homeViewModel -->
    <span data-bind="text: name" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px; font-size: 20px; margin-top: 40%;"></span>
	<span data-bind="text: name2" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px; font-size: 100px;"></span>
    
    <!-- END_CUSTOM_CODE_homeViewModel -->
</div>